# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environments
.env
env/
.venv/
venv/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
