.testimonials-section {
  text-align: center;
  padding: 100px;
  margin-top: 5%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  background-image: url('../images/Camera3.png');

}

.testimonial-slide {
  position: relative;
  display: flex; 
  justify-content: center; 
  
}

.main-image {
  width: 70%; 
  margin: auto; 
}


.testimonial-info {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
}

.testimonial-text {
  margin-top: 5%; 
  position: relative;
}

.slick-center .main-image {
  filter: none;
}

.slick-slide:not(.slick-center) .main-image {
  filter: grayscale(100%) blur(3px);
}

h2{

  color: white;
  font-weight: 300;
}