.bg-dark {
  background-color: #0c4a6e !important;
}

.text-white h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.custom-img {
  position: relative;
  left: -37%; 
  
}

.custom-text {
  position: absolute;
  top: 45%; 
  left: 30%; 
  
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 50%;
}


@media (max-width: 767.98px) {
  .custom-img-position, .custom-text {
   
    margin-left: 0; 
  }

  .custom-text {
    padding-top: 20px; 
  }
}

@media (max-width: 767.98px) {
  .custom-img-position {
    left: 0;
    transform: translateX(0);
  }
}
