/* About-hero.css */


body{
  background-color: #ffffff !important; 
}
.slider-area {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.slider-item {
  position: relative;
  height: 100vh;
}

.hero-overly {
  background: none !important;
}

.title {
  font-size: 140px; /* Aumentar el tamaño del título */
  color: #fff;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra al texto */
}

.caption {
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra al texto */
  margin-top: 20px; /* Añadir espacio entre el título y el pie de foto */
}

.thumbnail-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.thumbnail {
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s;
}

.thumbnail img {
  width: 120px; /* Aumentar el tamaño de las miniaturas */
  height: 70px; /* Ajustar la altura para que sean más rectangulares */
  object-fit: cover;
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* Ajustar la sombra del texto para mayor legibilidad */
.slide-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slider-item-active .slick-track {
  display: flex;
  align-items: center;
}

/* Animación de fade con fondo blanco */
.fade-in {
  animation: fadeIn 0.5s forwards; /* Ajuste de la duración de la animación */
  background-color: rgba(255, 255, 255, 0); /* Transparente al final */
}

.fade-out {
  animation: fadeOut 0.5s forwards; /* Ajuste de la duración de la animación */
  background-color: rgba(255, 255, 255, 1); /* Blanco al inicio */
}

@keyframes fadeIn {
  from { opacity: 0.2; background-color: rgba(255, 255, 255, 1); } /* Blanco al inicio */
  to { opacity: 1; background-color: rgba(255, 255, 255, 0); } /* Transparente al final */
}

@keyframes fadeOut {
  from { opacity: 1; background-color: rgba(255, 255, 255, 0); } /* Transparente al inicio */
  to { opacity: 0.2; background-color: rgba(255, 255, 255, 1); } /* Blanco al final */
}
