.banner {
  margin-top: 6%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
  
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1; 
  filter: blur(5px);
  
}

.banner > * {
  position: relative;
  z-index: 2; /* Asegúrate de que el contenido esté por encima de la capa oscura */
}

.content {
  width: 100%;
  z-index: 2;
  padding: 4rem;
  color: white; /* Asegurar el color del texto es blanco */
  
}

.content h1 {
  font-family: 'Pro-text', cursive;
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 20px 0px 15px rgba(0, 0, 0, 0.7); /* Sombras más fuertes para el texto */
  
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombras más fuertes para el texto */
  max-width: 70%;
  font-family: 'Poppins', sans-serif; /* Corrección en el nombre de la fuente */
  font-weight: 300;
}
  
  .appointment-button {
    background: black;
    color: white;
    padding: 14px 33px;
    font-size: 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;
    border: none;
  }
  
  .appointment-button:hover {
    background: white;
    color: black;
    transform: scale(1.05);
    border: none;
  }
  
  .appointment-button:active {
    transform: scale(1);
  }



  @media (max-width: 1150px){
    .content {
      width: 100%; 
      padding: 3%;
    
    }

    
  .content h1 {
    font-size: 3rem;
  }
  
  .content p {
    font-size: 1.2rem;
  }

  
  .appointment-button {
    
    padding: 14px 33px;
    font-size: 1rem;
    
    
  }

  }

  @media (max-width: 900px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 2.3rem;
  }
  
  .content p {
    font-size: 1rem;
  }

  
  .appointment-button {
    
    padding: 14px 33px;
    font-size: 2vw;

    
  }

  }

  
  @media (max-width: 750px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 2.1rem;
  }
  
  .content p {
    font-size: 0.9rem;
  }

  }

  @media (max-width: 630px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 1.9rem;
  }
  
  .content p {
    font-size: 0.8rem;
  }
  .appointment-button{
    font-size: 1.5vw;
  }

  }

  
  @media (max-width: 590px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 1.7rem;
  }
  
  .content p {
    font-size: 0.7rem;
  }

  .appointment-button {
padding: 6px 16px;
font-size: 2vw;

  }

  }
  @media (max-width: 590px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 1.2rem;
    margin-bottom: -0.1%;
  }
  
  .content p {
    margin-top: 3%;
    font-size: 0.5rem;
    margin-bottom: -0.1%;
  }

  .appointment-button {
margin-top: 5%;
padding: 6px 16px;
font-size: 2vw;
   
    
  }

  }


  
  @media (max-width: 361px){
    .content {
      width: 100%; 
      padding: 3%;
    }

    
  .content h1 {
    font-size: 1rem;
    margin-bottom: -0.1%;
  }
  
  .content p {
    margin-top: 3%;
    font-size: 0.5rem;
    margin-bottom: -0.1%;
  }

  .appointment-button {
margin-top: 5%;
    padding: 6px 16px;
    font-size: 2vw;
    
  }

  }