.footer {
    background-position: center;
    background-size: cover;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
    
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section li {
    font-size: 14px;
    line-height: 1.6;
}



.footer-section ul {
    list-style: none;
    padding: 0;
    
}

.footer-section li {
    margin-bottom: 5px;
}

.email-form {
    display: flex;
    align-items: center;
}

.email-form input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

.email-form button {
    padding: 7px 15px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.email-form button:hover {
    background-color: black;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
