@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Hero/Camera1.png');
    background-size: 90%;
    background-position: top right;
    color: white;
    padding: 5rem 1.5rem;
    text-align: center;
    min-height: 90vh;
    background-repeat: no-repeat;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
}

.text-section {
    position: relative;
    z-index: 1;
    padding: 2rem 0;
    margin: 0 auto;
}

.principal {
    font-family: 'Junge', cursive;
    font-size: 8vw; /* Ajuste con vw para hacerlo responsivo */
    margin-bottom: 1rem;
}

.principal-text {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 4vw; /* Ajuste con vw para hacerlo responsivo */
    max-width: 70%;
    margin: 0 auto 1.5rem;
}

.view {
    margin-top: 1rem;
    font-size: 3vw; /* Ajuste con vw para hacerlo responsivo */
}

.image-section {
    display: none; /* Escondemos la sección de imagen en pantallas pequeñas */
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        text-align: left;
        padding: 6rem 3rem;
    }

    .text-section {
        
        margin-top: 2rem;
    }

    .principal {
        font-size: 4vw; /* Ajuste con vw para mantener el tamaño relativo */
    }

    .principal-text {
        font-size: 2vw; /* Ajuste con vw para mantener el tamaño relativo */
        margin-left: 0;
    }

    .view {
        margin-top: 2rem;
        font-size: 1.5vw; /* Ajuste con vw para mantener el tamaño relativo */
    }

    .image-section {
        display: block; /* Mostramos la sección de imagen en pantallas medianas y grandes */
        flex: 1;
    }
}
