@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* slide.css */
.my-work-section {
    padding: 70px 20px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
}

.my-work-section h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: Pro-text;
}

.my-work-section p {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.slick-slide {
    padding: 0px 30px;
}

.slick-active img {
    transform: scale(1.1);
    border-radius: 10px;
}

.slick-prev,
.slick-next {
    z-index: 1;
    background: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: #fff;
    opacity: 0.85;
}


@media (max-width: 1360px) {

    .slick-slide {
        padding: 0 30px; 
       
    }

}
/* Responsive styles */
@media (max-width: 1200px) {
    .my-work-section h2 {
        font-size: 4.5rem;
    }
    .my-work-section p {
        font-size: 1.7rem;
    }

    
}



@media (max-width: 1024px) {
    .my-work-section h2 {
        font-size: 3.5rem;
    }
    .my-work-section p {
        font-size: 1.5rem;
    }

    .slick-slide {
        padding: 0 20px; 
       
    }
}

@media (max-width: 800px) {
    .my-work-section h2 {
        font-size: 3rem;
    }
    .my-work-section p {
        font-size: 1rem;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px;
    }

    .slick-slide {
        padding: 0 15px; 
       
    }
}

@media (max-width: 600px) {
    .my-work-section h2 {
        font-size: 1.9rem;
    }
    .my-work-section p {
        font-size: 0.7rem;
    }

    .slick-prev,
    .slick-next {
        width: 25px;
        height: 25px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 12px;
    }

    .slick-slide {
        padding: 0 10; 
       
    }
}


@media (max-width: 441px) {
    .my-work-section h2 {
        font-size: 1.2rem;
       
    }
    .my-work-section p {
        font-size: 0.6rem;
        margin-bottom: -0.9%;
        margin-top: -2%;
    }

    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px;
    }

    .slick-slide {
        padding: 0 10px; 
       
    }
}


@media (max-width: 340px) {
    .my-work-section h2 {
        font-size: 1.1rem;
       
    }
    .my-work-section p {
        font-size: 0.5rem;
        margin-bottom: -0.9%;
        margin-top: -2%;
    }

    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px;
    }

    .slick-slide {
        padding: 0 7px; 
       
    }
}
